{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="tile is-ancestor header-tile">
  <div class="tile is-vertical ">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <h1 class="title">{{ question.question_text }}</h1>

          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

          <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <br />
            <div class="buttons">
              <button class="button is-warning" type="submit" value="Vote">Vote</button>
              <a class="button is-link" href="{% url 'polls:index'%}">
                <strong>Home</strong>
              </a>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}