{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="tile is-ancestor header-tile">
  <div class="tile is-vertical ">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <section class="content">
            {% if latest_question_list %}
            <ol>
              {% for question in latest_question_list %}
              <li>
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                <a href="{% url 'polls:add-choice' question.id %}" class="button is-link is-small ml-4">Add choices</a>
              </li>
              <hr>
              {% endfor %}
            </ol>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}
            <a href="{% url 'polls:add-question' %}" class="button is-link">Add Question</a>
          </section>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock %}

</html>