{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <meta charset="UTF-8" />
    <title>Polls</title>
  </head>
  <body>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'polls/styles.css' %}"
    />
<div class="margin-home">
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'polls:index' %}">
    <h1 class="title">
      Polls
    </h1>
    </a>
    <a class="navbar-item" href="{% url 'admin:index' %}">
    <h3 class="subtitle">
    Admin-site
    </h3>
    
    </a>
  </div>
</nav>
</div>
   
  <section class="content">
    {% if latest_question_list %}
    <ol>
      {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}"
          >{{ question.question_text }}</a
        >
      </li>
      {% endfor %}
    </ol>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
    </section>
  </body>
</html>
