{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Register
      </h1>
      <h2 class="subtitle">
        Welcome to Z-Polls
      </h2>
    </div>
  </div>
</section>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="button is-light is-primary">Register</button>
</form>
</br>
<div>Already a member? <a href="{% url 'accounts:login' %}" class="link">Login<a></div>

{% endblock %}