li a {
  color: green;
}
body {
  background-color: #ffffff;
}

.header-tile {
    padding: 30px 30px 30px 30px;
    margin: 20px 20px 20px 20px;
}

.margin-home {
    margin: 20px 30px 0px 30px;
}

.is-primary {
    border-width: 5px;
    border-radius: 5px;
}